<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <add key="NexusAxity" value="https://devtools.axity.com/nexus/repository/nuget-hosted/" />
    </packageSources>
    <packageSourceCredentials>
        <NexusAxity>
            <add key="Username" value="arquetiponet" />
            <add key="ClearTextPassword" value="4dKhL0L2" />
        </NexusAxity>
    </packageSourceCredentials>
</configuration>